<?xml version="1.0"?>
<!--

// THIS CODE AND INFORMATION ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, 
// INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR PURPOSE. 
//   You can use, modify and redistribute this code in your product as per the Apache License, which governs this project.
// 
// BizTalkTerminatorService.Config keeps the configuration of various Service Filter as simple as possible.

-->
<configuration>
    <configSections>
        <section name="BTSServiceInstanceFilters" requirePermission="false" type="BizTalkTerminatorService.ConfigHelper, BizTalkTerminatorService"/>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <BTSServiceInstanceFilters>
        <DatabaseFilter>
          <!-- D2BServerName\\InstanceNameIfYourDBIsInAnInstance -->
            <add key="DBServerHostName" value="localhost"/>
            <add key="BTSMgmtDBName" value="BizTalkMgmtDb"/>
        </DatabaseFilter>
        <ServiceFilters>
            <!--
                ServiceClass Enum Contains:
                =============================================
                Description							Value
                *********************** **********
                Orchestration						1
                Tracking							  2
                Messaging							  4
                MSMQT								    8
                Other								    16
                Isolated adapter				32
                Routing failure report  64
    
                ServiceStatus Enum Contains:
                ==============================================
                Description							           Value	
                *********************************  **********
                Ready to run						           1
                Active								             2 
                Suspended (resumable)	             4
                Dehydrated							           8
                Completed with discarded messages	 16
                Suspended (not resumable)			     32
                In breakpoint						           64
                
                Action States are:
                ===================
                Terminate
                SaveAndTerminate
                
                Action when not specified, SaveLocation will be ignored and the default action will be to just Terminate.
                
                SaveLocation 
                ============
                Path to the folder where Service/Messages will be saved before being terminated.
                Will only be used when Action specified is SaveAndTerminate, for all other actions
                this will be ignored.
                
                Warning: Make sure the save location exists, if not the system will attempt to create it and if that fails
                the system will proceed with Termination, so you will lose the save part of the functionality.
            -->
            
            <ServiceFilter>
                <add key="ServiceClass" value="64"/>
                <add key="ServiceStatus" value="32"/>
                <add key="ErrorId" value="0xC0C01B4E"/>
                <add key="Action" value="Terminate"/>
                <add key="SaveLocation" value="C:\Perf\ServiceInstances\"/>
            </ServiceFilter>
            <ServiceFilter>
                <add key="ServiceClass" value="4"/>
                <add key="ServiceStatus" value="4"/>
                <add key="ErrorId" value="0xc0c01680"/>
                <add key="Action" value="Terminate"/>
                <add key="SaveLocation" value="C:\Perf\ServiceInstances\"/>
            </ServiceFilter>
        </ServiceFilters>        
    </BTSServiceInstanceFilters>
</configuration>
